In [1]:
from python_speech_features import mfcc
from python_speech_features import logfbank
import scipy.io.wavfile as wav
import speech_recognition as sr
import pyaudio
import pandas as pd

### Train Data

In [528]:
'''r = sr.Recognizer()

with sr.Microphone() as source:
    print(" say")
    audio = r.listen(source)
    

print("save audio in wav format")
with open("a.wav","wb") as f:
    f.write(audio.get_wav_data())'''
    
print("read audio and find rate and signals")
rate,sig = wav.read("shubham_LL1.wav")
mfcc_data = mfcc(sig,rate,ceplifter=32)
    #fbank_feat = logfbank(sig,rate)


print("create the mfcc dataframe")
dataFrame_mfcc = pd.DataFrame(mfcc_data) 
mean = dataFrame_mfcc.mean()
#print("mean is :",mean)

read audio and find rate and signals

WARNING:root:frame length (1103) is greater than FFT size (512), frame will be truncated. Increase NFFT to avoid.

create the mfcc dataframe

In [529]:
train = pd.DataFrame(mean)

In [530]:
train = train.T

### Test Data

In [555]:
rate,sig = wav.read("navneet_HH2.wav")
mfcc_data = mfcc(sig,rate,ceplifter=42)
    #fbank_feat = logfbank(sig,rate)


print("create the mfcc dataframe")
dataFrame_mfcc = pd.DataFrame(mfcc_data) 
mean = dataFrame_mfcc.mean()
#print("mean is :",mean)

test = pd.DataFrame(mean)
#print(test)

WARNING:root:frame length (1103) is greater than FFT size (512), frame will be truncated. Increase NFFT to avoid.

create the mfcc dataframe

In [556]:
test = test.T

In [557]:
train

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,13.33999,0.148053,-9.209032,2.64429,5.140057,0.282452,-15.035553,-11.147631,-7.564116,-9.250828,-9.926796,0.373194,-1.287082

In [558]:
test

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,13.561052,-0.082514,-12.240911,1.76602,6.611381,6.140756,-7.405864,-2.996645,-1.483605,-2.86212,-5.922711,2.263799,-0.70476

In [559]:
final = pd.concat([test,train])

In [560]:
final

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,13.561052,-0.082514,-12.240911,1.76602,6.611381,6.140756,-7.405864,-2.996645,-1.483605,-2.862120,-5.922711,2.263799,-0.704760
0,13.339990,0.148053,-9.209032,2.64429,5.140057,0.282452,-15.035553,-11.147631,-7.564116,-9.250828,-9.926796,0.373194,-1.287082

###   Test/train approach

In [561]:
#pr = []
av = 0
m = 0
for i in range(len(final.T)):
   
    mean = (final[i][0:1]/final[i][1:])
    m = m+mean
print(m)
if(int(m)>50):
    print("open")
else:
    print("close")

0    33.960596
dtype: float64
close

### distance approach

In [562]:
dis = 0
for i in range(len(final.T)):
    a = max(final[i])
    b = min(final[i])
    #print(a,b)
    if(a<0 and b<0):
        a = a*(-1)
        b = b*(-1)
    #print(a,b)
    mx=max(a,b)
    mn = min(a,b)
    #print(mx,mn)
    if(mn<0):
        mn = mn*(-1)
        mx = mx+mn+1
        mn = 1
    #print(mx,mn)
    dis += mx - mn
    
    per = (mn/mx)*100
    #print("percentage particular feature",per)
    av = av+per
av = av/13
print('total feature mean :',av)
if(av>50):
    print("open with percentage of mean")
else:
    print("not open with percentage mean")
print("distance between train / test",dis)
if(dis<20):
        print("OPEN")
else:
        print("another user")

total feature mean : 50.891667432444144
open with percentage of mean
distance between train / test 46.41831431315563
another user